{% extends "layout.html" %}
{% block content %}

<div style="text-align: center;">
    <img src="static/images/images.jpg" alt="cell" style="width:35%;">
</div>

    <div class="w3-card-4 w3-margin">

        <header class="w3-container w3-blue">
          <h1>Introduction</h1>
        </header>
        
        <div class="w3-container">
          <p>Farmers need automatic disease monitoring of plants rather than human 
          monitoring to increase crop field growth and yield. Manual disease monitoring 
          is poor because it requires an expert to recognize disease, which takes longer 
          and demands more time, making it ineffective. As a result, this research introduced 
          a new technique for detecting illness in both leaves. A computer image processing 
          technique was utilized to identify plant disease rapidly and effectively, overcoming 
          the limits of traditional visual observation. Using a k-means clustering method and 
          a multi SVM technique, we developed software for disease diagnosis and classification
          in our suggested study. This suggested method gives an overview of how machine 
          learning might be used to classify and identify plant leaf diseases. Three- or 
          more-layer neural networks are one subclass of machine learning approaches based on 
          an artificial neuron model.
 
	</p>
        </div>
        
        <footer class="w3-container w3-blue">
          <h5></h5>
        </footer>
        
        </div>

        <div class="w3-card-4 w3-margin">

            <header class="w3-container w3-blue">
              <h1>About The Project</h1>
            </header>
            
            <div class="w3-container">
              <p>
                The aim for developing enhanced cotton leaf disease identification 
                systems using automated image processing is primarily driven by the 
                significant challenges faced by the agricultural sector, particularly 
                in cotton cultivation. By addressing these challenges and leveraging 
                the potential of automated image processing, researchers and developers 
                aim to create tools that empower farmers to protect their crops, increase 
                yields, and improve overall agricultural sustainability

              </p>
            </div>
            
            <footer class="w3-container w3-blue">
              <h5></h5>
            </footer>
            
            </div>

    <div class="w3-container w3-center">
        <h2>Architecture Diagram</h2>
        <img src="static/images/system.png" alt="sys" style="width:18%">
      </div>

{% endblock %}